<ion-grid class="w-100">
  <ion-row class="ion-text-center">

    <ion-col *ngFor="let cpf of cpfs | async" size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title style="height: 80px;" class="ion-text-center alinha-centro">
            {{cpf.cpf}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="clicouCPF(cpf)" expand="block" fill="solid" size="default" mode="md"
            class="cor-if-verde">Enviar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>