<div class="h-100">
    <div class="display-wrap display-flex h-100">
        <div class=" alinha-topo w-100">
            <h1 class="card-text caixa-texto">Digite sua matrícula</h1>
        </div>
        <div class="alinha-topo w-100">
            <ion-row>
                <ion-col>
                    <input autocomplete="off" type="text"
                        class="form-control w-100  tamanho-texto-caixa-de-texto caixa-texto" aria-label=""
                        (keyup)="digitando()" name="matricula" [(ngModel)]="matricula">
                    <div>
                        <ion-button expand="" fill="solid" size="default" mode="md"
                            class="cor-if-verde mt-0 mb-0 alinha-centro" (click)="getPesquisaMatricula()">Enviar
                        </ion-button>
                    </div>
                    <div *ngIf="mensagemErroMatricula" class="alinha-centro">
                        <font color="red"> {{ mensagemErroMatricula }}</font>
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="alinha-base w-100">
            <ion-button expand="" fill="solid" size="default" mode="md" class="cor-if-verde mt-0 mb-0 m-15p"
                (click)="openModalMatricula()">Não sabe sua matrícula?</ion-button>
        </div>
    </div>
</div>