<ion-header>
  <ion-toolbar>
    <ion-title>modal-matricula</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 3%">
    <div class="row">
      <div class='col-md-6 offset-sm-3 text-center'>
        <p class='text-center'>Digite seu CPF</p>
        <div class="input-group text-center">
          <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
          <div class="input-group-append ">
            <ion-button type="button" class="btn btn-outline-secondary">Copiar</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>