<ion-header>
  <ion-toolbar>
    <div>
      <div>
        <div class="w-8">
        </div>
      </div>
      <div class="ion-text-center">
        <font color="black">
          <h1 style="font-size: 200%">Digite seu CPF</h1>
        </font>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-100">
    <div class="display-wrap display-flex h-100">
      <!--ALT + 255-->
      <div class="h-33">
             
      </div>
      <div class="alinha-topo w-100 h-33">
        <ion-row>
          <ion-col size="12">
            <div>
              <input #cpfInput style="width: 100%" maxlength="11" type="text"
                class="form-control w-100 tamanho-texto-caixa-de-texto caixa-texto" [(ngModel)]="cpf"
                (keyup)="digitando()" aria-label="CPF">
            </div>
            <div>
              <ion-button expand="" fill="solid" size="default" mode="md" class="cor-if-verde mt-0 mb-0 alinha-centro"
                (click)="getMatricula()">Enviar</ion-button>
            </div>
            <div *ngIf="mensagemErroCpf" class="alinha-centro">
              <font color="red"> {{ mensagemErroCpf }}</font>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <!--ALT + 255-->
      <div class="h-33">
             
      </div>
    </div>
  </div>
</ion-content>