<ion-header>
  <ion-toolbar class="">
      <div class="row">
          <div class="col-md-2 display-3 text-center">
              <div style="width: 8px;">
                  <ion-back-button defaultHref="/"></ion-back-button>
              </div>
          </div>
          <div class="col-md-8 display-3 text-center">
              Escolha o seu Nome              
          </div>
          <div class="col-md-2">
          </div>
      </div>
  </ion-toolbar>
</ion-header>




<ion-content>
  <div style='margin: 8px;'>
    <!-- Linha 01 -->
    <div class="row">
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">          
          <div class="card-body ">
            <p class="card-text caixa-texto text-center">Nome 1</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">          
          <div class="card-body">
            <p class="card-text caixa-texto text-center">Nome 2</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Linha 02 -->
    <div class="row">
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">          
          <div class="card-body">
            <p class="card-text caixa-texto text-center">Nome 3</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">          
          <div class="card-body">
            <p class="card-text caixa-texto text-center">Nome 4</p>
          </div>
        </div>
      </div>
    </div>
    <ion-button expand="" fill="solid" size="default" mode="md" class="cor-if-verde mt-0 mb-0 text-center"
                    style="margin:15px;" href="/">Cancelar</ion-button>
    <ion-button expand="" fill="solid" size="default" mode="md" class="cor-if-verde mt-0 mb-0 text-center"
                    style="margin:15px;" href="/">Enviar</ion-button>
  </div>
</ion-content>


<ion-footer>
  <p class="tamanho-texto font-weight-bolder text-center"> By: Arthur Bassotto Ziero, Gregori Pagliarini Longhi, Samuel Balbinot, Vitor Ribeiro Queiroz em parceria
    com o setor de DTI do Campus Farroupilha</p>
</ion-footer>