<ion-app>

  <div *ngIf="baseService.loading" class="container-carregando">
    <div class="inner">Carregando...</div>
  </div>

  <ion-header>
    <ion-toolbar class="ion-text-center cor-if-verde">
      <ion-button *ngIf="baseService.showBackButton" routerLink="/"  class="botao-voltar cor-if-verde-claro"
        size="default" mode="md">
        <i class="fas fa-home"> Início</i>
      </ion-button>
      <h1 class="m-0 tamanho-texto">
        <font color="white">{{baseService.headerTitle}}</font>
      </h1>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer class="cor-if-verdec">
    <p class="tamanho-texto20p ion-text-center">
      <font color="white">
        Desenvolvimento: Arthur Bassotto Ziero, Gregori Pagliarini Longhi, Samuel
        Balbinot, Vitor Queiroz Ribeiro 
        <br>
        juntamente com DTI do Campus Farroupilha</font>
    </p>
  </ion-footer>

</ion-app>