<ion-header>
  <ion-toolbar>
    <div>
      <div>
        <div class="w-8">
        </div>
      </div>
      <div class="ion-text-center">
        <h1>Pesquisar matricula</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="h-100">
    <div class="display-wrap display-flex h-100">
      <div class=" alinha-topo w-100">
        <p class="card-text caixa-texto">Digite seu CPF</p>
      </div>
      <div class="alinha-centro w-100">
        <ion-row>
          <ion-col class="9">
            <input type="text" class="form-control  w-100 h-100" aria-label="CPF">
          </ion-col>
          <ion-col size="3">
            <ion-button expand="" fill="solid" size="default" mode="md" class="cor-if-verde mt-0 mb-0"
              (click)="getMatricula()">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div class="alinha-base w-100">
        <ion-row>
          <ion-col>
            <ion-button expand="" fill="solid" size="default" mode="md" class="cor-if-verde mt-0 mb-0">Copiar matricula
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
    <div *ngIf="(pessoa$ | async) as retorno">
      <div>{{retorno.matricula}}</div>
      <div></div>
    </div>
  <div *ngIf="erroCpf">
    Você não informou o CPF.
  </div>
</ion-content>