<ion-header>
  <ion-toolbar class="display-3 text-center">
    Posso te ajudar?
  </ion-toolbar>
  
</ion-header>




<ion-content>
  <div style='margin: 8px;'>
    <!-- Linha 01 -->
    <div class="row">
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">
          <i class="fas fa-key  text-center" style="font-size: 400%;"></i>
          <div class="card-body ">
            <p class="card-text caixa-texto text-center">Clique para trocar a senha de login do wi-fi/acesso aos computadores nos
              laboratórios.</p>
            <ion-button expand="block" fill="solid" size="default" mode="md" (click)="pushPage('/troca-senha')"
              class="cor-if-verde">Trocar senha</ion-button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">
          <i class="fas fa-clock text-center" style="font-size: 400%;"></i>
          <div class="card-body">
            <p class="card-text caixa-texto text-center">Clique para visualizar os horários de suas aulas.</p>
            <ion-button expand="block" fill="solid" size="default" mode="md" (click)="pushPage('/tela-escolha/')"
              class="cor-if-verde">Horário das aulas</ion-button>
          </div>
        </div>
      </div>
    </div>
    <!-- Linha 02 -->
    <div class="row">
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">
          <i class="fas fa-calendar-alt text-center" style="font-size: 400%;"></i>
          <div class="card-body">
            <p class="card-text caixa-texto text-center">Clique para consultar os laboratórios e suas respectivas aulas.</p>
            <ion-button expand="block" fill="solid" size="default" mode="md" (click)="pushPage('/troca-senha')"
              class="cor-if-verde">Consultar laboratórios</ion-button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 d-flex align-items-stretch">
        <div class="card h-100 w-100">
          <i class="fas fa-user-friends text-center" style="font-size: 400%;"></i>
          <div class="card-body">
            <p class="card-text caixa-texto text-center">Clique para mais informações sobre os setores.</p>
            <ion-button expand="block" fill="solid" size="default" mode="md" (click)="pushPage('/troca-senha')"
              class="cor-if-verde">Setores</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer>
    <p class="tamanho-texto font-weight-bolder text-center"> By: Arthur Bassotto Ziero, Gregori Pagliarini Longhi, Samuel Balbinot, Vitor Ribeiro Queiroz em parceria
      com o setor de DTI do Campus Farroupilha</p>
</ion-footer>