<ion-header>
  <ion-toolbar class="display-3 text-center ">
        Posso te ajudar?

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <!-- Linha 01 -->
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Trocar senha</h5>
            <p class="card-text">Clique aqui para trocar a senha de login do wi-fi/acesso aos computadores nos laboratórios.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Horário das aulas</h5>
            <p class="card-text">Clique aqui para visualizar os horários de suas aulas.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Linha 02 -->
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Consultar laboraórios</h5>
            <p class="card-text">Clique aqui para consultar os laboratórios e suas respectivas aulas.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Setores</h5>
            <p class="card-text">Clique para mais informações sobre os setores.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>