<div class="w-100 h-100">
  <ion-row size="4" class="alinha-topo w-100">
    <i class="fas fa-key" style="font-size: 400%;"></i>
  </ion-row>
  <ion-row size="4" class="alinha-centro w-100"> 
    Clique para trocar a senha de login do wi-fi/acesso aos computadores nos
    laboratórios.
  </ion-row>
  <ion-row size="4" class="alinha-base w-100">
    <ion-button routerLink="/troca-senha" expand="block" fill="solid" size="default" mode="md"
      class="cor-if-verde alinha-base">
      Trocar senha
    </ion-button>
  </ion-row>
</div>